<div class="loginpage">

    <h1>LOGIN</h1>
    <br>

    <form method="post" name="login_form" id="login_form">
        <table id="tablelogin">
            <tr>
                <td>Email: </td>
				<td>
					<input required type="email" name="inputEmail" id="inputEmail" ng-model="login.inputEmail" placeholder="Email"/>
					<span class="text-danger" ng-show="login_form.inputEmail.$error.required && (login_form.inputEmail.$dirty || login_form.inputEmail.$touched)">Introduce an email</span>
					<span class="text-danger" ng-show="login_form.inputEmail.$error.email">Email not valid</span>
				</td>
            </tr>
            <hr/><br><br>
            <tr>
                <td>Password: </td>
				<td>
					<input required type="password" name="inputPassword" id="inputPassword" ng-model="login.inputPassword" placeholder="Password" ng-minlength="6" ng-maxlength="40"/>
					<span class="text-danger" ng-show="login_form.inputPassword.$error.required && (register_form.inputPassword.$dirty || register_form.inputPassword.$touched)">Introduce a password</span>
					<span class="text-danger" ng-show="login_form.inputPassword.$error.minlength">Password with more than 6 words</span>
					<span class="text-danger" ng-show="login_form.inputPassword.$error.maxlength">Password with less than 40 words</span>
				</td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="button" id="log_in" name="log_in" value="Login"
                    ng-show="login_form.inputEmail.$valid && login_form.inputPassword.$valid"
                    ng-click="validate_login()">
                </td>
            </tr>
            <tr>
                <td><input type="button" name="log_in_google" id="log_in_google" value="GOOGLE" ng-click="login_google()"/></td>
            </tr><tr>
                <td><input type="button" name="log_in_github" id="log_in_github" value="GITHUB" ng-click="login_github()"/></td>
            </tr>

        </table>
    </form>
    Don't remember your password? <a href="#/recover_pass">Recover password</a><br>
    Still not registered? <a href="#/register">Register here</a>

</div>