<div id="infoprod">
    <div id="details">
        <div class="tolainfo">
        <br><span><img class="img-responsive" src="{{img}}"/></span></br>
        <br><span>Code: <span id="codprod1">{{codprod}}</span></span></br>
        <br><span>Product: <span id="product1">{{product}}</span></span></br>
        <br><span>Ingredients: <span id="ingredients1">{{ingredients}}</span></span></br>
        <br><span>Flavour: <span id="flavour1">{{flavour}}</span></span></br>
        <br><span>Brand: <span id="brand1">{{brand}}</span></span></br>
        <br><span>KG: <span id="kg1">{{kg}}</span></span></br>
        <br><span>Date of caducity: <span id="datecaducity1">{{datecaducity}}</span></span></br>
        <br><span>Description: <span id="datecaducity1">{{descr}}</span></span></br>
        <br><span>Price: <span id="datecaducity1">{{price}}€</span></span></br>
        <br><span><input type="button" class="addtocart" name="addtocart" id="{{idproduct}}" value="ADD TO CART" ng-click="addtocart($event)"/></span>
        </div>
    </div>
</div>