<!-- SLIDER -->
<div class="slider">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides">
        <img id="{{slide.id}}" ng-src="{{slide.url}}" style="margin:auto;" ng-click="click_carousel($event)">
      </div>
	</div>
</div>


<!-- CATEGORIES -->
<div class="ali"><h1>CATEGORIES</h1></div>
<div class="container pt categories">
  <div class="row mt centered cate">
		<div class="bx-controls-direction">
			<a class="prev" ng-click="prev()">Prev</a> | <a class="next" ng-click="next()">Next</a>
		</div><br><br>
		<div class="col-lg-4" ng-repeat="category in categories"><img class="img-responsive" id="{{category.id}}" src="{{category.url}}" ng-click="select_cat($event)"/><p><b>{{category.cat}}</b></p></div>
  </div>
</div>


<!-- MOST VIEWS -->
<div class="ali"><h1>MOST VIEWS</h1></div>
<div class="container pt views">
  <div class="row mt centered byviews">
		<div class="bx-controls-direction">
			<a class="prev2" ng-click="prev2()">Prev</a> | <a class="next2" ng-click="next2()">Next</a>
		</div><br><br>
		<div class="col-lg-4" ng-repeat="views in byviews"><img class="img-responsive" id="{{views.idproduct}}" src="{{views.img}}" ng-click="select_prod($event)"/><img id="{{views.idproduct}}" class="favorites" src="frontend/assets/img/favorites/corazonblanco.png"/><p>{{views.product}} - {{views.kg}}KG<br>{{views.brand}}<br>{{views.price}}€</p><input type="button" class="addtocart" name="addtocart" id="{{views.idproduct}}" value="ADD TO CART"/></div>
  </div>
</div>