<div ng-controller="menuCtrl">
  <div class="toplogin">

    <div ng-show="userNotLoged" class="options1"><a id="login_html" href="#/login" data-tr="LOG IN">LOG IN</a>&nbsp;&nbsp;&nbsp;
    <a id="register_html" href="#/register" data-tr="REGISTER">REGISTER</a><br><br>
    <a id="cart" href="#/cart">Cart</a></div>

    <div ng-show="userLoged" class="options2">Hola &nbsp;&nbsp;&nbsp; <img id="imgprofile" src=""/> &nbsp;&nbsp;&nbsp; <a href="#/" ng-click="logout()" id="logout_html" data-tr="LOG OUT">LOG OUT</a> <br><a id="cart" href="#/cart">Cart</a></div>

    <div class="language">
      <form>
          <select name="idiom" id="idiom">
              <option value="en" id="btn-en">English</option>
              <option value="es" id="btn-es">Spanish</option>
              <option value="va" id="btn-va">Valencian</option>
          </select>
      </form>
    </div>

  </div>


  <div class="navbar navbar-inverse navbar-static-top">

    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ng-show="showHome" href="#/">HOMEPAGE</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="localdel" ng-show="showShop" ng-click="clickShop()" href="#/shop">SHOP</a></li>
            <li><a href="#/services" ng-show="showServices">SERVICES</a></li>
            <li><a href="#/aboutus" ng-show="showAboutus">MEET US</a></li>
            <li><a href="#/contact" ng-show="showContact">CONTACT US</a></li>
            <div id="print_menu"></div>
          </ul>
        </div>
    </div>

  </div>
</div>

<div class="navbar navbar-inverse navbar-static-top cosarara">

  <form class="search">
    <div class="grr"> 
      <select id="province">
        <option value="">[Select province]</option>
      </select>

      <select id="shop">
        <option value="">[Select shop]</option>
      </select>
    </div>

    <div class="autocomplete"> 
       <input id="autocom" type="text"/>
       <div id="optionsauto"></div> 
    </div>
	
    <div class="elbuscar">
      <a id="searchlist">SEARCH</a>
    </div>   
  </form>

</div>