<h1>Adoptar</h1>
<div style="width: 30%; display: inline-block;">
	<form>
		<input type="text" ng-model="breedSelected" placeholder="Buscar Raza" 
		uib-typeahead="data as data.breeds for data in breeds | filter:{breeds:$viewValue} |  limitTo:5"
		uib-typeahead-min-length='1' 
		class="form-control" style="width:350px;">
		<button id="autadopb" ng-click="selectSearch()">Buscar</button>
	</form>
</div>

<div id="list_dogs" ng-show="infoV">
	<div class='content_data_list' ng-repeat="data in filterDogs| filter:filtro">
		<div id='content_img' ng-click="open(data.chip)">
			<img class='modalbutt' ng-src="{{data.picture}}">
		</div>
		<div id='content_info'>
			<div id='header_list'>
				<span>Nombre: {{data.name}}</span>
				<br>
				<span> Raza: {{data.breed}} </span>
			</div>
			<div id='content_list'>
				<span>Sexo: {{data.sex}} </span>
				<br>
				<span> Estatura: {{data.stature}} </span>
			</div>
			<div id='footer_list'>
				<span>Nacimiento: {{data.date_birth}} <span>
				<button type='button' class='btn btn-primary' ng-click="adopDog(data.chip)" ng-show="{{canAdopt}} == true">Adoptar</button>
			</div>
		</div>
	</div>
</div>

<div class="list_dogis" ng-show="detailsV">
    <div id='content_img'>
        <img id='modal_auto_details' ng-src='{{data[0].picture}}'>
    </div>
    <div id='content_info'>
        <div id='content_info'>
			<div id='header_list'>
				<span>Nombre: {{data[0].name}}</span>
				<br>
				<span> Raza: {{data[0].breed}} </span>
			</div>
			<div id='content_list'>
				<span>Sexo: {{data[0].sex}} </span>
				<br>
				<span> Estatura: {{data[0].stature}} </span><br/>
				<span>Nacimiento: {{data[0].date_birth}} <span><br/>
				<button type='button' class='btn btn-primary' ng-click="adopDog(data.chip)" ng-show="{{canAdopt}} == true">Adoptar</button>
			</div>
		</div>
    </div>
</div>

<div id="pager" ng-show="bootpageV">
    <uib-pagination class="pagination-sm pagination" total-items="adoptions.length" ng-model="currentPage"
    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=6></uib-pagination>        
</div>
